.dice-main {
    position: relative;
    height: 450px;
    margin-bottom: 1rem;
}

/*!*所有按钮出现disabled 强行色为灰色背景*!*/
/*button:disabled {*/
/*    background: #999!important;*/
/*}*/


/* 骰盅 */
#diceCover {
    background: radial-gradient(#fff 0%, #000 100%);
    transition: transform 0.1s ease;
    z-index: 9;
    width: 100%;
    height: 350px;
    position: absolute;
    bottom: 0;
    border-radius: 250px 250px 50% 50%;
    box-shadow: 10px 10px 30px 2px rgba(0, 0, 0, 0.75);
}




/* 骰子s */
.dices > img {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
}

.dices > img:nth-child(1) {
    transform: translate(45px, -65px);
}
.dices > img:nth-child(2) {
    transform: translate(144px, -20px);
}
.dices > img:nth-child(3) {
    transform: translate(245px, -65px);
}
.dices > img:nth-child(4) {
    transform: translate(90px, -150px);
}
.dices > img:nth-child(5) {
    transform: translate(190px, -150px);
}

/*底座*/
.dice-base {
    width: 100%;
    height: 234px;
    background: #8b7972;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    box-shadow: 5px 9px 4px 0 #515151;
}


.shakeDice-button {
    padding: 15px 30px;
    font-size: 1.2rem;
    background: linear-gradient(to right, #e74c3c, #c0392b);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    width: 100%;
}

.shakeDice-button:active {
    transform: scale(0.98);
}