.dice-main{
    position: relative;
}

.dice-container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    justify-content: center;
    gap: 30px;
    margin-top: 30vh;
    padding: 10px;
}

#diceCover{
    background-color: rgba(10, 83, 190, 0.62);
    z-index: 9;
    width: 70vw;
    height: 30vh;
    position: absolute;
    bottom: 0;
    margin-left: 15vw;
    border-radius: 250px 250px 10px 10px;
    box-shadow: 10px 10px 30px 2px rgba(0,0,0,0.75);
}



.roll-button {
    padding: 15px 30px;
    font-size: 1.2rem;
    background: linear-gradient(to right, #e74c3c, #c0392b);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    width: 100%;
}

.roll-button:active {
    transform: scale(0.98);
}